# Data Project #5 - Neural Networks 


## Ford Car Price Prediction Dataset

URL: https://www.kaggle.com/datasets/adhurimquku/ford-car-price-prediction

**Attribute Information:**

**1.model** - > Ford Car Brands

**2.year** - >Production Year

**3.price** - >Price of car in $

**4.transmission** - > Automatic,Manual, Semi-Auto

**5.mileage** -> Number of miles traveled

**6.fuel_Type** -> Petrol,Diesel,Hybrid,Electric,Other

**7.tax** -> Annual Tax

**8.mpg** - > Miles per Gallon

**9.engineSize** - > Car's Engine Size

Regression problem: predict the price of the car using 8 independent features

In [21]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [55]:
df = pd.read_csv("Datasets/ford.csv")
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [23]:
df.shape

(17966, 9)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  int64
 7   mpg           17966 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

In [25]:
df.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [26]:
df['model'].value_counts()

 Fiesta                   6557
 Focus                    4588
 Kuga                     2225
 EcoSport                 1143
 C-MAX                     543
 Ka+                       531
 Mondeo                    526
 B-MAX                     355
 S-MAX                     296
 Grand C-MAX               247
 Galaxy                    228
 Edge                      208
 KA                        199
 Puma                       80
 Tourneo Custom             69
 Grand Tourneo Connect      59
 Mustang                    57
 Tourneo Connect            33
 Fusion                     16
 Streetka                    2
 Ranger                      1
 Escort                      1
 Transit Tourneo             1
Focus                        1
Name: model, dtype: int64

In [27]:
df['transmission'].value_counts()

Manual       15518
Automatic     1361
Semi-Auto     1087
Name: transmission, dtype: int64

In [28]:
df['fuelType'].value_counts()

Petrol      12179
Diesel       5762
Hybrid         22
Electric        2
Other           1
Name: fuelType, dtype: int64

In [29]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000,17966.000000
mean,2016.866470,12279.534844,23362.608761,113.329456,57.906980,1.350807
std,2.050336,4741.343657,19472.054349,62.012456,10.125696,0.432367
min,1996.000000,495.000000,1.000000,0.000000,20.800000,0.000000
25%,2016.000000,8999.000000,9987.000000,30.000000,52.300000,1.000000
50%,2017.000000,11291.000000,18242.500000,145.000000,58.900000,1.200000
75%,2018.000000,15299.000000,31060.000000,145.000000,65.700000,1.500000
max,2060.000000,54995.000000,177644.000000,580.000000,201.800000,5.000000

In [56]:
#one hot encode
df = pd.get_dummies(df, columns=['transmission', 'fuelType', 'model'])

In [57]:
df

,year,price,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,...,model_ Mondeo,model_ Mustang,model_ Puma,model_ Ranger,model_ S-MAX,model_ Streetka,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus
0,2017,12000,15944,150,57.7,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018,14000,9083,150,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,13000,12456,150,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,17500,10460,145,40.3,1.5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019,16500,1482,145,48.7,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,2017,8999,16700,150,47.1,1.4,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17962,2014,7499,40700,30,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17963,2015,9999,7010,20,67.3,1.6,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
17964,2018,8299,5007,145,57.7,1.2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17965,2015,8299,5007,22,57.7,1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [58]:
#INDEPENDENT FEATURES(X)
#DEPENDENT FEATURE(y)

X = df.drop(columns=['price'], axis=1)
y = df['price']

In [59]:
X

,year,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Electric,...,model_ Mondeo,model_ Mustang,model_ Puma,model_ Ranger,model_ S-MAX,model_ Streetka,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus
0,2017,15944,150,57.7,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2018,9083,150,57.7,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,12456,150,57.7,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019,10460,145,40.3,1.5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019,1482,145,48.7,1.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,2017,16700,150,47.1,1.4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17962,2014,40700,30,57.7,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17963,2015,7010,20,67.3,1.6,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17964,2018,5007,145,57.7,1.2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17965,2015,5007,22,57.7,1.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [60]:
y

0        12000
1        14000
2        13000
3        17500
4        16500
         ...
17961     8999
17962     7499
17963     9999
17964     8299
17965     8299
Name: price, Length: 17966, dtype: int64

In [61]:
#Normalize dataset to a range [0, 1] by dividing by maximum value in column

for col in ['year', 'mileage', 'tax', 'engineSize', 'mpg']:
    X[col] = X[col]/X[col].max()

In [62]:
X

,year,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Electric,...,model_ Mondeo,model_ Mustang,model_ Puma,model_ Ranger,model_ S-MAX,model_ Streetka,model_ Tourneo Connect,model_ Tourneo Custom,model_ Transit Tourneo,model_Focus
0,0.979126,0.089753,0.258621,0.285927,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.979612,0.051130,0.258621,0.285927,0.20,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.979126,0.070118,0.258621,0.285927,0.20,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.980097,0.058882,0.250000,0.199703,0.30,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.980097,0.008343,0.250000,0.241328,0.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17961,0.979126,0.094008,0.258621,0.233399,0.28,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17962,0.977670,0.229110,0.051724,0.285927,0.20,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17963,0.978155,0.039461,0.034483,0.333499,0.32,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17964,0.979612,0.028186,0.250000,0.285927,0.24,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17965,0.978155,0.028186,0.037931,0.285927,0.20,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [63]:
#TRAIN TEST SPLIT
#Split the dataset, 80% training, 20% testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


print('Training Datasets Dimensions\n')

print('X_train:', X_train.shape)
print('y_train:', y_train.shape)

print('\nTesting Datasets Dimensions\n')

print('X_test:', X_test.shape)
print('y_test:', y_test.shape)

Training Datasets Dimensions

X_train: (14372, 37)
y_train: (14372,)

Testing Datasets Dimensions

X_test: (3594, 37)
y_test: (3594,)

In [64]:
#Using sklearn, multilayer perceptron neural network
from sklearn.neural_network import MLPRegressor

mlp_regressor = MLPRegressor(random_state=1, 
                             solver='adam', 
                             learning_rate='adaptive', 
                             max_iter=500)

In [65]:
mlp_regressor.fit(X_train, y_train)

C:\Users\Mia\AppData\Roaming\Python\Python38\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor(learning_rate='adaptive', max_iter=500, random_state=1)

In [66]:
from sklearn.metrics import mean_absolute_error

y_pred = mlp_regressor.predict(X_test)

print('Mean Absolute Error:$', mean_absolute_error(y_test, y_pred))

Mean Absolute Error:$ 1752.2465186537422

In [67]:
print('Coefficient of Determination(r^2):', mlp_regressor.score(X_test, y_test))

Coefficient of Determination(r^2): 0.7642378790405079

In [45]:
#Keras and Tensorflow Model

In [69]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import models, layers

print(tf.__version__)

2.8.0

In [68]:
model = models.Sequential()
model.add(layers.Dense(64, activation='relu', input_shape=(X_train.shape[1], )))
model.add(layers.Dense(32, activation='relu'))
model.add(layers.Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [70]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                2432

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 4,545
Trainable params: 4,545
Non-trainable params: 0
_________________________________________________________________

In [71]:
history = model.fit(X_train, y_train, epochs=20, batch_size=32)

Epoch 1/20
450/450 [==============================] - 2s 2ms/step - loss: 152481216.0000 - mae: 11350.8613
Epoch 2/20
450/450 [==============================] - 1s 2ms/step - loss: 40645480.0000 - mae: 4798.1519
Epoch 3/20
450/450 [==============================] - 1s 2ms/step - loss: 19909848.0000 - mae: 3369.0659
Epoch 4/20
450/450 [==============================] - 1s 2ms/step - loss: 17479684.0000 - mae: 3123.8770
Epoch 5/20
450/450 [==============================] - 1s 2ms/step - loss: 15767192.0000 - mae: 2938.3718
Epoch 6/20
450/450 [==============================] - 1s 2ms/step - loss: 14431220.0000 - mae: 2792.4863
Epoch 7/20
450/450 [==============================] - 1s 2ms/step - loss: 13300357.0000 - mae: 2669.2485
Epoch 8/20
450/450 [==============================] - 1s 2ms/step - loss: 12285347.0000 - mae: 2556.5115
Epoch 9/20
450/450 [==============================] - 1s 2ms/step - loss: 11350917.0000 - mae: 2447.1658
Epoch 10/20
450/450 [==============================] - 1s 2ms/step - loss: 10468127.0000 - mae: 2341.2966
Epoch 11/20
450/450 [==============================] - 1s 2ms/step - loss: 9642854.0000 - mae: 2239.3364
Epoch 12/20
450/450 [==============================] - 1s 2ms/step - loss: 8885651.0000 - mae: 2149.3823
Epoch 13/20
450/450 [==============================] - 1s 2ms/step - loss: 8206820.0000 - mae: 2067.9309
Epoch 14/20
450/450 [==============================] - 1s 2ms/step - loss: 7604113.5000 - mae: 1999.3029
Epoch 15/20
450/450 [==============================] - 1s 2ms/step - loss: 7103717.0000 - mae: 1941.9043
Epoch 16/20
450/450 [==============================] - 1s 2ms/step - loss: 6696745.5000 - mae: 1896.9390
Epoch 17/20
450/450 [==============================] - 1s 2ms/step - loss: 6368205.0000 - mae: 1859.9762
Epoch 18/20
450/450 [==============================] - 1s 2ms/step - loss: 6115736.0000 - mae: 1833.1639
Epoch 19/20
450/450 [==============================] - 1s 2ms/step - loss: 5922039.5000 - mae: 1810.2267
Epoch 20/20
450/450 [==============================] - 1s 2ms/step - loss: 5778411.0000 - mae: 1794.7810

In [72]:
model.evaluate(X_test, y_test)

113/113 [==============================] - 0s 2ms/step - loss: 5351506.0000 - mae: 1754.5439

[5351506.0, 1754.5439453125]

In [73]:
#Mean absolute error of $1,754 for ford car price prediction